* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato;
}

a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

/* GENERIC CLASSES */

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.line-decoration {
    border: 2px solid #E9BF33;
    width: 32px;
    margin-top: 5px;
}

.fs-18 {
    font-size: 18px;
}

.mr-10 {
    margin-right: 10px;
}

.flex-container {
    display: flex;
}

.btn {
    background-color: #E9BF33;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    height: 48px;
    color: #fff;
}

/* PRODUTO */

.produto{
    padding: 16px;
}

.produto h2 {
    font-size: 18px;
    font-weight: 900;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 36px;
    border-radius: 5px;
    width: 216px;
    height: 375px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    color: #7a7a7a;
}

.card p, .star-rating {
    margin-bottom: 8px;
}

.card .price {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.card button {
    background-color: #00E676;
    width: 125px;
    height: 32px;
}

.card .flag {
    color: #ffffff;
    background-color: #F8475F;
    z-index: 1;
}

.checked {
    color: #FFD874;
}

/* NEWSLETTER */

.newsletter{
    padding: 16px 16px 36px 16px;
    background-color: #f2f2f2;
}

.newsletter .flex-container {
    flex-direction: column;
}

.newsletter h2 {
    font-size: 22px;
    margin-bottom: 22px;
    text-align: center;
}

.newsletter input {
    height: 48px;
    border: none;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

/* FOOTER */

footer {
    background-color: #000000;
    padding: 16px;
    color: #fff;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer h2 {
    font-size: 18px;
}

footer ul {
    list-style-type: none;
    margin-bottom: 24px;
    /* font-size: 13px; */
}

footer li {
    padding-top: 10px;
}

footer button {
    padding: 6px 22px;
    display: block;
    margin: 25px auto 0 auto;
    width: 198px;
    
}

footer button a {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    padding-right: 10px;
}

.footer-logos {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}



/* @media(min-width: 576px and max-width: 767.98px) {

} */

/* @media (max-width: 768px) {
    .navbar-menu {
        position: relative;
    }

    .navbar-menu .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .navbar-menu a {
      float: none;
      display: block;
      text-align: left;
    }
} */
/* MEDIA QUERIES */

@media(min-width: 768px) {
    /* NEWSLETTER */
    .newsletter .flex-container {
        align-items: center;
    }

    .newsletter input, .newsletter button {
        width: 70%;
    }
}

@media(min-width: 992px) {
    /* GENERIC CLASSES */
    .d-lg-block {
        display: block;
    }

    .d-lg-none {
        display: none;
    }

    .footer-container {
        flex-direction: row;
        align-items: center;
        max-width: 80%;
        margin: 0 auto;
    }

    .footer-logos {
        margin-top: 0;
        display: block;
    }

    /* NEWSLETTER */
    .newsletter {
        padding: 24px;
    }

    .newsletter .flex-container {
        justify-content: center;
        flex-direction: row;
    }

    .newsletter button {
        width: 140px;
    }

    .newsletter input {
        margin-bottom: 0;
        margin-right: 16px;
        width: 280px;
    }
}

@media(min-width: 1200px) {
    .footer-container {
        max-width: 1000px;
    }
}